body{
    background:#222;
    color:white;
    font-family:Arial;
    text-align:center;
}

.panel{
    border:2px solid white;
    width:500px;
    margin:auto;
    padding:15px;
}

button{
    padding:10px;
    margin:5px;
    cursor:pointer;
}

.building{
    border:1px solid white;
    margin:10px auto;
    width:500px;
    padding:10px;
}
